# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

openapi: 3.0.3
info:
  title: Cisco Secure Access Third-Party Integrations API
  version: 1.0.0
  description: |-
    Create and manage the third-party applications integrated with Secure Access.
    Secure Access integrates with third-party applications, which support either REST APIs or Webhooks.
  contact:
    name: Cloud Security Developer Community

servers:
  - url: https://api.sse.cisco.com/{basePath}
    variables:
      basePath:
        default: admin/v2

security:
  - oauthFlow: []

tags:
  - name: Integrations
    description: Integration management
  - name: Credentials
    description: Credential management
  - name: Integration Types
    description: Integration types
  - name: Secure Access

paths:

  /integrationTypes:
    get:
      summary: List Types of Integrations
      operationId: getIntegrationTypes
      description: List the types of the third-party applications integrated in the organization.
      security:
        - oauthFlow:
            - admin.integrations:read
      tags:
        - Integration Types
        - Secure Access
      responses:
        '200':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntTypesOutputBody'
          description: OK
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

  /integrations:
    get:
      summary: List Integrations
      operationId: getIntegrations
      description: List the third-party applications integrated in the organization. Filter the collection by `type` and `status`.
      security:
        - oauthFlow:
            - admin.integrations:read
      tags:
        - Integrations
        - Secure Access
      parameters:
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationsOutputBody'
          description: OK
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

    post:
      summary: Create Integration
      operationId: createIntegration
      description: Create a third-party integration in the organization.
      security:
        - oauthFlow:
            - admin.integrations:write
      tags:
        - Integrations
        - Secure Access
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationInputBody'
        required: true
      responses:
        '201':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
            Location:
              description: The URL of the created integration.
              schema:
                type: string
                example: "https://api.sse.cisco.com/admin/v2/integrations/12345"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOutputBody'
          description: Created           
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

  /integrations/{intId}:
    patch:
      summary: Update Integration
      operationId: updateIntegration
      description: Update an integration in the organization.
      security:
        - oauthFlow:
            - admin.integrations:write
      tags:
        - Integrations
        - Secure Access
      parameters:
        - $ref: '#/components/parameters/integrationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchInputBody'
        required: true
      responses:
        '200':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchIntegrationOutputBody'
          description: OK
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

    get:
      summary: Get Integration
      operationId: getIntegration
      description: Get an integration by ID.
      security:
        - oauthFlow:
            - admin.integrations:read
      tags:
        - Integrations
        - Secure Access
      parameters:
        - $ref: '#/components/parameters/integrationId'
      responses:
        '200':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegrationOutputBody'
          description: OK
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

    delete:
      summary: Delete Integration
      operationId: deleteIntegration
      description: Delete an integration in the organization.
      security:
        - oauthFlow:
            - admin.integrations:write
      tags:
        - Integrations
        - Secure Access
      parameters:
        - $ref: '#/components/parameters/integrationId'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
          content: {}
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

  /integrations/{intId}/credentials:
    post:
      summary: Create Credentials for Integration
      operationId: createCredentialsForIntegration
      description: Create the credentials for a third-party application integrated in the organization.
      security:
        - oauthFlow:
            - admin.integrations:write
      tags:
        - Credentials
        - Secure Access
      parameters:
        - $ref: '#/components/parameters/integrationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationCredentialInputBody'
        required: true
      responses:
        '201':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
            Location:
              description: The URL of the created credentials.
              schema:
                type: string
                example: "https://api.sse.cisco.com/admin/v2/integrations/123/credentials/456"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOutputBody'
          description: Created
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

  /integrations/{intId}/credentials/{credId}:
    get:
      summary: Get Credentials for Integration
      operationId: getCredentialsForIntegration
      description: Get the credentials by ID for an integration.
      security:
        - oauthFlow:
            - admin.integrations:read
      tags:
        - Credentials
        - Secure Access
      parameters:
        - $ref: '#/components/parameters/integrationId'
        - $ref: '#/components/parameters/credentialId'
      responses:
        '200':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCredentialOutputBody'
          description: OK
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

  /integrations/{intId}/credentials/{credId}/value:
    get:
      summary: Get Value of Credentials for Integration
      operationId: getCredentialsforIntegration
      description: Get the value of the credentials for the integration.
      security:
        - oauthFlow:
            - admin.integrations:read
      tags:
        - Credentials
        - Secure Access
      parameters:
        - $ref: '#/components/parameters/integrationId'
        - $ref: '#/components/parameters/credentialId'
      responses:
        '200':
          headers:
            Content-Type:
              $ref: '#/components/headers/Content-Type'
            Date:
              $ref: '#/components/headers/Date'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetValueOutputBody'
          description: OK
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'

components:

  headers:

    Content-Type:
      schema:
        type: string
      description: The MIME content type of the response body.
      example: application/json

    Date:
      schema:
        type: string
        pattern: '^[0-90-90-90-9-0-90-9-0-90-9T0-90-9:0-90-9:0-90-9Z]+$'
      description: The date and time (ISO 8601-formatted timestamp) when the system returned the response.
      example: '2023-03-14T18:34:25Z'

  parameters:

    integrationId:
      description: The ID of the integration.
      in: path
      name: intId
      required: true
      schema:
        type: string
      example: 1235678a

    credentialId:
      description: The ID of the credentials for the integration.
      in: path
      name: credId
      required: true
      schema:
        type: string
      example: 123asfjakljlksdf

    status:
      description: Filter for the integrations by the status.
      example: active
      in: query
      name: status
      schema:
        description: The status of the integrations.
        enum:
          - created
          - active
          - inactive
        type: string

    type:
      description: The integrations listed by the type.
      example: chrome-enterprise.v1
      in: query
      name: type
      schema:
        description: The type of the integration.
        enum:
          - chrome-enterprise.v1
          - webhook.v1
          - jamf.v1
          - intune.v1
        type: string

    offset:
      description: The place to start reading in the collection. The default offset is 0.
      explode: false
      in: query
      name: offset
      schema:
        description: The number of a record in the collection.
        format: int64
        minimum: 0
        type: integer
      example: 10

    limit:
      description: The maximum number of items returned in the response counting from the offset.
      explode: false
      in: query
      name: limit
      schema:
        description: The maximum number of items in the collection returned in the response.
        format: int64
        minimum: 0
        type: integer
      example: 50

  responses:

    400Error:
      description: Bad Request
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        Date:
          $ref: '#/components/headers/Date'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Bad Request
                example: Not found IAM key info for org 12355.
              status:
                type: integer
                description: The HTTP status code returned in the response.
                example: 400

    401Error:
      description: Unauthorized
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        Date:
          $ref: '#/components/headers/Date'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Unauthorized
                example: Authorization token is invalid.
              status:
                type: integer
                description: The HTTP status code returned in the response.
                example: 401

    403Error:
      description: Forbidden
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        Date:
          $ref: '#/components/headers/Date'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message explaining the reason for failure.
                example: Forbidden
              status:
                type: integer
                description: The HTTP status code returned in the response.
                example: 403

    404Error:
      description: Not Found
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        Date:
          $ref: '#/components/headers/Date'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message explaining the reason for failure.
                example: Not Found
              status:
                type: integer
                description: The HTTP status code returned in the response.
                example: 404

    500Error:
      description: Internal Server Error
      headers:
        Content-Type:
          $ref: '#/components/headers/Content-Type'
        Date:
          $ref: '#/components/headers/Date'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                description: Error message explaining the reason for failure.
                example: Internal Server Error
              status:
                type: integer
                description: The HTTP status code returned in the response.
                example: 500

  securitySchemes:

    oauthFlow:
      type: oauth2
      description: The client credential flow.
      flows:
        clientCredentials:
          tokenUrl: https://api.sse.cisco.com/auth/v2/token
          scopes:
            admin.integrations:write: 'Update, delete integrations'
            admin.integrations:read: 'Read integrations'

  schemas:

    limit:
      description: The maximum number of items returned in the collection, counting from the offset.
      format: int64
      minimum: 0
      type: integer
      example: 100

    offset:
      description: The place to start reading in the collection.
      format: int64
      minimum: 0
      default: 0
      type: integer
      example: 10

    total:
      description: The total number of items in the collection.
      format: int64
      minimum: 0
      type: integer
      example: 500

    credentialName:
      description: The name of the credentials.
      type: string
      example: credential one

    credentialTags:
      type: array
      description: The list of tags associated with the credentials.
      items:
        type: string
        description: The tag associated with the credentials.
      example:
        - credential one

    credentialType:
      description: The authentication method used to obtain the credential.
      enum:
        - google-service-account
        - basic-auth
        - piam-token
        - iroh-token
      type: string
      example: piam-token

    CreateIntegrationCredentialInputBody:
      type: object
      description: The properties used to create the credentials for the integration.
      required: [name, type, value]
      additionalProperties: false
      properties:
        name:
          $ref: '#/components/schemas/credentialName'
        tags:
          $ref: '#/components/schemas/credentialTags'
        type:
          $ref: '#/components/schemas/credentialType'
        value:
          $ref: '#/components/schemas/credentialValue'
      example:
        name: My API Credential
        type: basic-auth
        tags: [production, secure]
        value:
          username: apiuser
          password: securepassword

    integrationTags:
      type: array
      description: The list of tags associated with the integration.
      items:
        type: string
        description: The tag associated with the integration.
      example:
        - integration one

    integrationType:
      description: The type of the integration.
      enum:
        - chrome-enterprise.v1
        - webhook.v1
        - jamf.v1
        - intune.v1
      type: string
      example: jamf.v1

    integrationName:
      description: The name of the integration.
      maxLength: 250
      minLength: 1
      type: string
      example: integration one

    integrationTypeId:
      description: The ID of the integration.
      type: string
      example: a1235678

    CreateIntegrationInputBody:
      type: object
      description: The properties used to create the integration in the organization.
      required: [name, type]
      properties:
        intuneConfig:
          $ref: '#/components/schemas/IntuneConfigInput'
        jamfConfig:
          $ref: '#/components/schemas/JamfConfigInput'
        name:
          $ref: '#/components/schemas/integrationName'
        tags:
          $ref: '#/components/schemas/integrationTags'
        type:
          $ref: '#/components/schemas/integrationType'
        webhookConfig:
          $ref: '#/components/schemas/WebhookConfigInput'      
      example:
        name: Corporate Webhook Integration
        type: webhook.v1
        tags: [production, external]
        webhookConfig:
          url: "https://api.company.com/webhook"
          headers:
            "Content-Type": "application/json"
            "Authorization": "Bearer token123"
          queryParams:
            "source": "integration-service"

    CreateOutputBody:
      type: object
      description: The link and ID of the created integration.
      required: [href, id]
      properties:
        href:
          $ref: '#/components/schemas/integrationHref'
        id:
          description: The unique identifier of the created integration.
          type: string
      example:
        href: "https://api.sse.cisco.com/admin/v2/integrations/12345"
        id: 12323jk1j23

    credentialCreatedBy:
      description: The username of the administrator who created the credentials for the integration.
      type: string
      example: user@admin.com

    credentialCreatedAt:
      description: The date and time when the system created the credentials for the integration.
      format: date-time
      type: string
      example: "2024-01-15T10:30:00Z"

    integrationCreatedBy:
      description: The username of the administrator who created the integration.
      type: string
      example: user@admin.com

    integrationCreatedAt:
      description: The date and time when the system created the integration.
      format: date-time
      type: string
      example: "2024-01-15T10:30:00Z"

    credentialHref:
      description: The URL for the credentials resource.
      type: string
      example: 'https://api.sse.cisco.com/admin/v2/integrations/123/credentials/456'

    Credential:
      type: object
      description: The properties of the credentials resource.
      properties:
        createdAt:
          $ref: '#/components/schemas/credentialCreatedAt'
        createdBy:
          $ref: '#/components/schemas/credentialCreatedBy'
        createdFromIp:
          $ref: '#/components/schemas/createdFromIp'
        href:
          $ref: '#/components/schemas/credentialHref'
        name:
          $ref: '#/components/schemas/credentialName'
        tags:
          $ref: '#/components/schemas/credentialTags'
        type:
          $ref: '#/components/schemas/credentialType'
        value:
          $ref: '#/components/schemas/credentialValue'
      required:
        - href
        - name
        - type
        - value
        - tags
        - createdBy
        - createdAt
        - createdFromIp
      example:
        createdBy: "admin@company.com"
        createdAt: "2024-01-15T10:30:00Z"
        createdFromIp: 10.1.1.50
        href: "https://api.sse.cisco.com/admin/v2/integrations/123/credentials/456"
        name: Database Credential
        type: basic-auth
        tags: [database, production]
        value:
          username: db_user
          password: encrypted_password

    #ErrorDetail:
    #  type: object
    #  description: The properties of a specific error.
    #  properties:
    #    location:
    #      description: |-
    #        The part of the JSON message that indicates where the error occurred, for example: `body.items[3].tags` or `path.thing-id`.
    #      type: string
    #    message:
    #      description: Error message text
    #      type: string
    #    value:
    #      description: The value at the given location
    #      type: string
    #  example:
    #    location: body.name
    #    message: Field is required
    #    value: ""

    GetIntegrationOutputBody:
      type: object
      description: The properties of the integration returned in the response.
      properties:
        integration:
          $ref: '#/components/schemas/Integration'
      required:
        - integration
      example:
        integration:
          createdBy: "admin@company.com"
          createdAt: "2024-01-15T10:30:00Z"
          createdFromIp: 192.168.1.101
          href: "https://api.sse.cisco.com/admin/v2/integrations/123"
          name: Production Webhook
          type: webhook.v1
          status: active

    GetCredentialOutputBody:
      type: object
      description: The properties of the credential returned in the response.
      properties:
        credential:
          $ref: '#/components/schemas/Credential'
        href:
          $ref: '#/components/schemas/integrationHref'
        value:
          $ref: '#/components/schemas/GetValueOutputBody'
      required:
        - credential
      example:
        credential:
          createdBy: "admin@company.com"
          createdAt: "2024-01-15T10:30:00Z"
          createdFromIp: 10.1.1.50
          href: "https://api.sse.cisco.com/admin/v2/integrations/123/credentials/456"
          name: "API Key Credential"
          type: "piam-token"
          tags: ["api", "secure"]
          value:
            token: "sample_token_value"

    GetValueOutputBody:
      type: object
      description: The properties of the value object for a credential.
      properties:
        value:
          $ref: '#/components/schemas/credentialValue'
      required:
        - value
      example:
        value:
          username: "api_user"
          password: "secure_password123"

    credentials:
      type: array
      description: The list of credentials associated with the integration.
      items:
        $ref: '#/components/schemas/Credential'

    integrationHref:
      description: The URL for the integration.
      type: string
      example: "https://api.sse.cisco.com/admin/v2/integrations/123"

    integrationRegion:
      description: The region where the system deployed the integration.
      type: string
      example: us-west1

    integrationStatus:
      description: The status of the integration.
      type: string
      enum:
        - active
        - created
        - inactive
      example: active

    createdFromIp:
      type: string
      description: The IP address of the device or network where the integration was created.
      example: 192.168.1.100

    updatedFromIp:
      type: string
      description: The IP address of the device or network where the integration was last updated.
      example: 192.168.1.101

    Integration:
      type: object
      description: The properties of the integrated third-party application.
      properties:
        createdAt:
          $ref: '#/components/schemas/integrationCreatedAt'
        createdBy:
          $ref: '#/components/schemas/integrationCreatedBy'
        createdFromIp:
          $ref: '#/components/schemas/createdFromIp'
        credentials:
          $ref: '#/components/schemas/credentials'
        href:
          $ref: '#/components/schemas/integrationHref'
        intuneConfig:
          $ref: '#/components/schemas/IntuneConfig'
        jamfConfig:
          $ref: '#/components/schemas/JamfConfig'
        name:
          $ref: '#/components/schemas/integrationName'
        region:
          $ref: '#/components/schemas/integrationRegion'
        status:
          $ref: '#/components/schemas/integrationStatus'
        tags:
          $ref: '#/components/schemas/integrationTags'
        type:
          $ref: '#/components/schemas/integrationType'
        updatedFromIp:
          $ref: '#/components/schemas/updatedFromIp'
        webhookConfig:
          $ref: '#/components/schemas/WebhookConfig'
      required:
        - href
        - name
        - type
        - createdBy
        - createdAt
        - createdFromIp
        - status
      example:
        createdBy: "admin@company.com"
        createdAt: "2024-01-15T10:30:00Z"
        createdFromIp: 192.168.1.101
        href: "https://api.sse.cisco.com/admin/v2/integrations/123"
        name: Production Webhook
        type: webhook.v1
        status: active
        region: us-west-2
        tags: [production, webhook]
        webhookConfig:
          url: "https://api.company.com/webhook"
          headers:
            "Content-Type": "application/json"

    IntegrationType:
      type: object
      description: The properties of the integration type.
      properties:
        description:
          description: The description of the integration type.
          type: string
          example: integration of jamf
        id:
          $ref: '#/components/schemas/integrationTypeId'
        name:
          description: The name of the integration type.
          type: string
          example: jamf one integration
      required:
        - id
        - name
        - description
      example:
        id: webhook.v1
        name: Webhook Integration
        description: Generic webhook integration for sending HTTP requests

    IntuneConfig:
      type: object
      description: The configuration settings for the integration of the Azure AD application.
      properties:
        clientCredentialId:
          $ref: '#/components/schemas/clientCredentialIdIntune'
        clientCredentialSecret:
          $ref: '#/components/schemas/clientCredentialSecretIntune'
        clientCredentialTokenUrl:
          $ref: '#/components/schemas/clientCredentialTokenUrlIntune'
        moduleInstanceId:
          $ref: '#/components/schemas/moduleInstanceIdIntune'
      example:
        clientCredentialId: "intune-client-123"
        clientCredentialSecret: "secret-value"
        clientCredentialTokenUrl: "https://login.microsoftonline.com/tenant/oauth2/v2.0/token"
        moduleInstanceId: "iroh-module-456"

    IntuneConfigInput:
      type: object
      description: The properties used to create or update the Azure AD application.
      properties:
        clientCredentialId:
          $ref: '#/components/schemas/clientCredentialIdIntune'
        clientCredentialSecret:
          $ref: '#/components/schemas/clientCredentialSecretIntune'
        clientCredentialTokenUrl:
          $ref: '#/components/schemas/clientCredentialTokenUrlIntune'
      example:
        clientCredentialId: "intune-client-123"
        clientCredentialSecret: "secret-value"
        clientCredentialTokenUrl: "https://login.microsoftonline.com/tenant/oauth2/v2.0/token"

    clientCredentialIdIntune:
      description: The Azure AD client ID.
      type: string
      example: credentialid1

    clientCredentialSecretIntune:
      description: The Azure AD client secret.
      type: string
      example: credentialsecret1

    clientCredentialTokenUrlIntune:
      description: The OAuth 2.0 token endpoint URL for the authentication of the Azure AD application.
      type: string
      example: tokenauthurl@abc.com

    moduleInstanceIdIntune:
      description: The unique ID for the Iroh module instance that manages the Intune integration.
      type: string
      example: iroh-jamf-instance

    url:
      description: The base URL of the integration.
      type: string
      example: "https://company.jamfcloud.com"

    urlJamf:
      description: The base URL of the Jamf Pro server.
      type: string
      example: "https://company.jamfcloud.com"

    clientCredentialIdJamf:
      description: The Jamf Pro client ID.
      type: string
      example: credentialid1

    clientCredentialSecretJamf:
      description: The Jamf Pro client secret.
      type: string
      example: credentialsecret1

    moduleInstanceIdJamf:
      description: The unique ID for the Iroh module instance that manages the Jamf Pro integration.
      type: string
      example: iroh-jamf-instance

    JamfConfig:
      type: object
      description: The configured settings for the Jamf Pro integration.
      properties:
        clientCredentialId:
          $ref: '#/components/schemas/clientCredentialIdJamf'
        clientCredentialSecret:
          $ref: '#/components/schemas/clientCredentialSecretJamf'
        moduleInstanceId:
          $ref: '#/components/schemas/moduleInstanceIdJamf'
        urlJamf:
          $ref: '#/components/schemas/urlJamf'
      example:
        clientCredentialId: jamf-client-789
        clientCredentialSecret: jamf-secret
        moduleInstanceId: iroh-jamf-instance
        url: "https://company.jamfcloud.com"

    JamfConfigInput:
      type: object
      description: The configuration properties used to create or update the Jamf Pro integration.
      properties:
        clientCredentialId:
          $ref: '#/components/schemas/clientCredentialIdJamf'
        clientCredentialSecret:
          $ref: '#/components/schemas/clientCredentialSecretJamf'
        url:
          $ref: '#/components/schemas/url'
      example:
        clientCredentialId: "jamf-client-789"
        clientCredentialSecret: "jamf-secret"
        url: "https://company.jamfcloud.com"

    ListIntTypesOutputBody:
      type: object
      description: The resource that includes the list of integration types.
      properties:
        integrationTypes:
          description: The list of integration types.
          items:
            $ref: '#/components/schemas/IntegrationType'
          type: array
      required:
        - integrationTypes
      example:
        integrationTypes:
          - id: webhook.v1
            name: Webhook Integration
            description: Generic webhook integration for sending HTTP requests
          - id: jamf.v1
            name: Jamf Pro Integration
            description: Integration with Jamf Pro device management platform

    ListIntegrationsOutputBody:
      type: object
      description: The paginated list of integrations returned in the response.
      properties:
        data:
          description: The list of integrations in the organization.
          items:
            $ref: '#/components/schemas/Integration'
          type: array
        limit:
          $ref: '#/components/schemas/limit'
        offset:
          $ref: '#/components/schemas/offset'
        total:
          $ref: '#/components/schemas/total'
      required:
        - total
        - offset
        - limit
        - data
      example:
        total: 25
        offset: 0
        limit: 10
        data:
          - createdBy: "admin@company.com"
            createdAt: "2024-01-15T10:30:00Z"
            createdFromIp: 192.168.1.10
            href: "https://api.sse.cisco.com/admin/v2/integrations/123"
            name: Production Webhook
            type: webhook.v1
            status: active

    PatchInputBody:
      type: object
      description: The properties used to update the integration.
      properties:
        intuneConfig:
          $ref: '#/components/schemas/IntuneConfigInput'
        jamfConfig:
          $ref: '#/components/schemas/JamfConfigInput'
        name:
          description: The name of the integration.
          maxLength: 250
          minLength: 1
          type: string
          example: new name for integration
        webhookConfig:
          $ref: '#/components/schemas/WebhookConfigInput'
      example:
        name: Updated Integration Name
        webhookConfig:
          url: "https://api.newcompany.com/webhook"
          headers:
            "Content-Type": "application/json"

    PatchIntegrationOutputBody:
      type: object
      description: The properties of the updated integration returned in the response.
      properties:
        integration:
          $ref: '#/components/schemas/Integration'
      required:
        - integration
      example:
        integration:
          createdBy: "admin@company.com"
          createdAt: "2024-01-15T10:30:00Z"
          createdFromIp: 192.168.1.10
          href: "https://api.sse.cisco.com/admin/v2/integrations/123"
          name: Production Webhook
          type: webhook.v1
          status: active
          region: us-west-2
          tags: [production, webhook]
          webhookConfig:
            url: "https://api.company.com/webhook"
            headers:
              "Content-Type": "application/json"

    credentialValue:
      type: object
      description: The properties of the value object in the credentials.
      properties:
        href:
          $ref: '#/components/schemas/credentialHref'
        password:
          description: The password for the credential.
          type: string
          example: SecurePassword124!
        serviceAccountId:
          description: The ID of the Service Account.
          type: string
          example: service-account-123
        serviceAccountKey:
          description: The key for the Service Account.
          type: string
          example: |-
            -----BEGIN PRIVATE KEY-----
              MIIEvQ...
        token:
          description: The access token for the authentication of the credentials.
          type: string
          example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...'
        username:
          description: The username associated with the credential.
          type: string
      example:
        username: api_user
        password: secure_password123
        token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9

    headers:
      additionalProperties:
        type: string
        description: The HTTP headers for the Webhook integration.
      type: object

    queryParams:
      type: object
      description: The query parameters for the Webhook integration.
      additionalProperties:
        type: string

    urlWebHook:
      description: The URL of the Webhook integration for receiving notifications.
      type: string
      example: 'https://api.company.com/webhook/integration-events'

    WebhookConfig:
      type: object
      description: The configuration settings for the Webhook integration.
      required: [url]
      properties:
        headers:
          $ref: '#/components/schemas/headers'
        queryParams:
          $ref: '#/components/schemas/queryParams'
        url:
          $ref: '#/components/schemas/urlWebHook'
      example:
        url: 'https://api.company.com/webhook'
        headers:
          "Content-Type": "application/json"
          "Authorization": "Bearer token123"
        queryParams:
          "source": "integration-service"
          "version": "v1"

    WebhookConfigInput:
      type: object
      description: The properties used to create or update the Webhook integration.
      properties:
        headers:
          $ref: '#/components/schemas/headers'
        queryParams:
          $ref: '#/components/schemas/queryParams'
        url:
          $ref: '#/components/schemas/urlWebHook'
      example:
        url: 'https://api.company.com/webhook'
        headers:
          "Content-Type": "application/json"
          "Authorization": "Bearer token123"
        queryParams:
          "source": "integration-service"
